:root {
    --veryDarkSesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    --lightGrayishBlue: hsl(240, 5%, 91%);
}

* {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 14px;
}

body {
    height: 98.3vh;
    background: linear-gradient(to bottom, var(--softViolet), var(--softBlue));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent {
    margin: auto;
    width: 65%;
    background: white;
    display: flex;
    justify-content: center;
    border-radius: 2em;
    align-items: center;
    box-shadow: 0px 30px 40px var(--veryDarkGrayishBlue);
}

.illustration {
    background-image: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: -6em, -28.5em;
    background-size: auto, 200% 150%;
    width: 50%;
    height: 100%;
    position: relative;
}

.littleBox {
    position: absolute;
    bottom: 28%;
    left: -6.6em;
}

.box {
    padding: 0 1em 1em 0;
    border-radius: 0;
    border-bottom: 1px solid var(--lightGrayishBlue);
}

.faq {
    width: 50%;
    background-color: transparent;
    padding: 4em;
    padding-right: 6em;
}

.title {
    margin: 0.5em 0;
    font-size: 38px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    display: none;
    align-self: flex-start;
}

@media screen and (max-width: 768px) {
    body {
        height: fit-content;
    }

    .mainContent {
        margin: 4em;
        width: 85%;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 2em;
        align-items: center;
        box-shadow: 0px 30px 40px var(--veryDarkGrayishBlue);
    }
}